<form action="/result">

        <label>
        Enter Book Title to See Its Cover:
        <input type="string" name="title" placeholder="Harry Potter" required>
        </label>

        <button>Get Book Cover!</button>

</form>
