<form action="/answer">
    <label>
        Enter your question for the Magic 8-ball:
        <input type="string" placeholder="Enter your question here" required autofocus>
    </label>

    <button>Get Your Answer!</button>

</form>