<h1>All Authors</h1>

    <p> <%= @authors.size %> Authors </p>

<% @authors.each do |author| %>
    <p>  
        <a href="/authors/<%= author.id %>">
            <%= author.name %> 
        </a>
    </p>
<% end %>