<h1>New Snowboard Trick</h1>

<form action="/snowboard" method="post">
    <label>
        Name:
        <input name="name"required>
    </label>
    
    <label>
        Trick: 
        <input name="trick"> 
    </label>

    <label> 
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Snowboard Trick Dude!</button>
</form>