<h1>New mountain</h1>

<form action="<%= mountains_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Country:
        <input type="number" name="country">
    </label>

    <label>
        Height:
        <input type="number" name="height">
    </label>

    <label>
        Annual Death Rate:
        <input type="number" name="annual_death_rate">
    </label>

    <label>
        Danger Rating:
        <input type="number" name="danger_rating">
    </label>

    <button>Create Mountain</button>
</form>