<h1>
Welcome to the FUN Homepage!
</h1>
<p>
    <a href="/eightball">
    Click here for 8-ball
    </a>
</p>

or

<p>
    <a href="/secretnumber">
    Click here for Secret Number
    </a>
</p>

or 

<p>
    <a href="/paperrockscissors">
    Click here for Paper, Rock, Scissors
    </a>
</p>