<form action="/secretanswer">
    <label>
        Enter your guess:
        <input name="secretguess" type="integer" placeholder="Enter number between 1 - 10" required autofocus>
    </label>

    <button>Get Your Answer!</button>

</form>